.header {
 width: 100%;
 height: 4.5rem;
 background-color: rgba(255, 255, 255, 0.8);
 backdrop-filter: blur(16px);
 padding: 0 2.5rem;
 position: sticky;
 top: 0;
 z-index: 1;
}

.headerContainer{
  width: 100%;
  max-width: 900px;
  height: 100%;
  border-bottom: 1px solid;
  border-color: #E5E8EA;
  display: flex;
  align-items: center;
 gap: 0.5rem;
 margin: auto;
 justify-content: center;
}

.headerIcon {
margin-right: auto;
color:#969DA3;
}

.searchbarContainer {
  position: relative;
  width: 18rem;
}
.searchbarTextField {
background-color: #F2F3F5;
border-radius: 2rem;
height: 2.25rem;
width: 100%;
padding: 0.4rem 0.75rem 0.4rem 2.25rem;
border: none;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
letter-spacing: 0.25px;
}
.headerSearchbar::placeholder {
color: #969DA3;
}
.searchbarContainer:focus-within {
width: 100%;
}
.headerContainer:focus-within > .headerIcon {
  display: none;
}
.searchbarContainer:focus-within + .headerUploadBtn {
  display: none;
}


.searchbarIcon {
  position: absolute;
  margin: 0.5rem;
  margin-left: 0.75rem;
  color: #969DA3;
}

.headerUploadBtn {
  background-color: #177BC2;
  border-radius: 0.75rem;
  height: 2.25rem;
  display: flex;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.1px;
color: white;
gap: 0.375rem;
}

.main {
  width: 100%;
  padding: 0 1.5rem 2rem;
}

.container {
  width: 100%;
  max-width: 932px;
  margin: auto;
}

.pageTitle {
  color: #0B0B0E;
font-family: Helvetica Neue;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 32px;
padding: 1rem 0 1rem 1rem;
}

.columns {
  display: flex;
  gap: 1rem;
}

.leftColumn {
  width: 13.625rem;
}

.rightColumn {
  flex: 1;
  padding-right: 1rem;
}

.categoryTitle {
color: #0B0B0E;
font-family: Helvetica Neue;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
letter-spacing: 0.15px;
margin-bottom: 0.5rem;
}
